.container {
  width: 768px;
  margin: 0 auto;
  padding: 0 25px;

  border-radius: 10px;
  border-color: #ccc;
  border-style: solid;
  padding: 30px;
  box-shadow: 5px 5px 5px 5px #ccc;
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
